<div class="accordion m-5" id="accordionExample">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left"
                (click)="step(concepts.theory.id)"
                type="button">
          Teoría
        </button>
      </h2>
    </div>
    <div id="collapseOne"
         [class]="idSelected === concepts.theory.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        <ul>
          <li>
            <b>Existen dependencias</b><i> Cuando el componente conecta con servicios, es necesario
            realizar pruebas de manera aislada</i>
            <ul>
              <li>
                <b>Utilizando Stub</b><i> Consiste en reemplazar completamente la dependencia por una simulada (dummy ó
                mock)</i>
              </li>
              <li>
                <b>Utilizando Spying</b>
                <ul>
                  <li>
                    Es el más utilizad por lo simple de la implementación.
                  </li>
                  <li>
                    Hay 2 formas de hacer uso de spias usando
                    <ul>
                      <li>
                        spyOn
                      </li>
                      <li>
                        jasmine con el método createSpyObj
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <b>Servicios asíncronos</b>
            <ul>
              <li>
                <b>async</b> <i> Para realizar las pruebas: Utiliza los métodos whenStable y ComponentFixture</i>
              </li>
              <li>
                <b>fakeAsync</b><i> Para realizar pruebas: Utiliza función tick</i>
              </li>
            </ul>
          </li>
          <li>
            <b>Caso Inputs y OutPuts</b>
            <ul>
              <li>Debemos verificar que el <b>@Input</b> esté configurado correctamente.</li>
              <li>Debemos verificar que <b>@OutPut</b> se active correctamente y que se reciba lo que emite.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed"
                (click)="step(concepts.practice.id)"
                type="button">
          Práctica
        </button>
      </h2>
    </div>
    <div id="collapseTwo"
         [class]="idSelected === concepts.practice.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <h1>ut-component works!</h1>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Spy for dependency</h5>
                  <app-cmp-spy></app-cmp-spy>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Spy for dependency using spy jasmine</h5>
                  <app-cmp-spy-jasmine></app-cmp-spy-jasmine>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Unit test for async and fakeAsync</h5>
                  <app-cmp-async></app-cmp-async>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Unit test for input and OutPut</h5>
                  <app-cmp-children [yearsOld]="yearsOld" (outPutMajor)="verifiedYearsOld($event)"></app-cmp-children>
                  <p>{{message}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
