<ul>
  <li>
    Un marco de pruebas <b><i>(Jasmine)</i></b>
  </li>
  <li>
    Un corredor de pruebas <b><i>(test runner) - (Karma)</i></b>
    <ul>
      <li>
        Lo anterior suma <b><u>2 conceptos</u></b>
        <ul>
          <li>
            <b>Test suite</b> Agrupa lógica para <i><u>n pruebas</u></i>. (describe)
          </li>
          <li>
            <b>Test spec</b> Agrupa lógica para <i><u>prueba unitaria real</u></i>. (it)
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
