<div class="row mb-4">
    <h2>Sonar-Qube</h2>
</div>
<div class="row mb-4">
    <div class="col-md-12 col-sm-12">
        SonarQube es una herramienta que permite realizar un análisis estático de código. Lo que hace es identificar los puntos susceptibles de mejora, que facilitarán la obtención de métricas necesarias para la optimización del código.
        <h4 class="mt-4 mb-3">Instalación</h4>
        <section>
            <ul>
                <li> <a href="https://www.sonarqube.org/" target="_blank">Sonar-Qube</a></li>
            </ul>
            <ul>
                <li> <a href="https://www.oracle.com/java/technologies/javase-jdk11-downloads.html" target="_blank">JDK</a></li>
            </ul>
            <ul>
                <li> <a href="https://docs.sonarqube.org/latest/analysis/scan/sonarscanner/" target="_blank">SonarScanner</a></li>
            </ul>
        </section>
    </div>
    <div class="col-md-12 col-sm-12">
        <h4 class="mt-4 mb-3">Configuración</h4>
        <ol>
            <li>
                Agregar el jdk en las variables de entorno :
                <b>setx -m JAVA_HOME “C:\path_to_Java\jdk_version</b>
            </li>
            <li>
                Levantar el servidor de Sonar Qube: 
                <br>
                <span><b>sonarqube-version\bin\windows-x86–64</b></span>
                <br>
                <span><b>run startsonar.bat</b></span>
            </li>
            <li>
                Agregar un archivo en el proyecto Angular llamado 
                <b>sonar-project.properties</b>
                <br>
                <img src="assets/img/routing/sonar-properties.png" alt="">
            </li>
            <li>
                Correr el scanner
                <b>sonar-scanner</b>
            </li>
        </ol>
    </div>
</div>
 