<ul>
  <li>
    Las <i>pruebas unitarias</i> con un marco de trabajo, puede ser aplicado a <b>TDD - <span>Test-driven development</span></b>
    y <b>BDD - <span>Behaviour Driven Development</span></b>
  </li>
  <li>
    Las <i>pruebas unitarias</i> siguen el patrón <b>AAA -
    <span>Arrange (Organizar), Act (Actuar), Assert (Afirmar)</span></b>
    <ul>
      <li>
        <b>Arrange (Organizar/Inicializa)</b> <i>inicializa los objetos y establece los valores de los datos que vamos a
        utilizar en el Test que lo contiene.</i>
      </li>
      <li>
        <b>Act (Actuar)</b> <i>Realiza la llamada al método a probar con los parámetros preparados para tal fin.</i>
      </li>
      <li>
        <b>Assert (Afirmar/Comprobar)</b> <i>Comprueba que el método de pruebas ejecutado se comporta tal y como teníamos
        previsto que lo hiciera.</i>
      </li>
    </ul>
  </li>
</ul>
