<div class="accordion m-5" id="accordionExample">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left"
                (click)="step(concepts.theory.id)"
                type="button">
          Teoría
        </button>
      </h2>
    </div>
    <div id="collapseOne"
         [class]="idSelected === concepts.theory.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        Una pipe <b>es una clase de typescript</b> que <b>implementa la interfaz PipeTransform</b>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed"
                (click)="step(concepts.practice.id)"
                type="button">
          Práctica
        </button>
      </h2>
    </div>
    <div id="collapseTwo"
         [class]="idSelected === concepts.practice.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>Pipes</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Unit test for pipe</h5>
                <p>{{message | list}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
