<div class="accordion m-5" id="accordionExample">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left"
                (click)="step(concepts.theory.id)"
                type="button">
          Teoría
        </button>
      </h2>
    </div>
    <div id="collapseOne"
         [class]="idSelected === concepts.theory.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        <ul>
          <li>
            Los <b>formularios reactivos son mejores que los formularios basados en plantillas</b> de muchas maneras y
            son más fáciles de probar
          </li>
          <li>
            Lás técnicas mas usadas son basadas en <b>querySelector, setter and getter</b>.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed"
                (click)="step(concepts.practice.id)"
                type="button">
          Práctica
        </button>
      </h2>
    </div>
    <div id="collapseTwo"
         [class]="idSelected === concepts.practice.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="class-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3 class="m-3">Unit test reactive form</h3>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <form [formGroup]="form" (ngSubmit)="save()">
                <div class="form-group">
                  <label for="exampleInputEmail1">User: </label>
                  <input type="text"
                         class="form-control"
                         id="exampleInputEmail1"
                         aria-describedby="emailHelp"
                         formControlName="searchText"
                         placeholder="UserName">
                  <small id="emailHelp" class="form-text text-muted">Type please..... :)</small>
                </div>

                <button type="submit"
                        id="submitForm"
                        [disabled]="form.invalid"
                        class="btn btn-outline-primary mt-2">Submit
                </button>
              </form>
            </div>

            <div class="col-lg-5 m-3">
              {{form.value | json}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
