<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand"></div>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/home"
           class="nav-link">Angular Unit Test</a>
      </li>
      <li class="nav-item">
        <a href=""
           class="nav-link"
           routerLink="/dashboard/home"
           routerLinkActive="active"
        >Home</a>
      </li>
      <li class="nav-item">
        <a href=""
           class="nav-link"
           routerLink="/dashboard/ut-component"
           routerLinkActive="active"
        >Components</a>
      </li>
      <li class="nav-item">
        <a href=""
           class="nav-link"
           routerLink="/dashboard/ut-pipe"
           routerLinkActive="active"
        >Pipes</a>
      </li>
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/ut-directive"
           routerLinkActive="active"
           class="nav-link">Directives</a>
      </li>
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/ut-reactive-form"
           routerLinkActive="active"
           class="nav-link">Reactive Forms</a>
      </li>
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/ut-component/http-set-get"
           routerLinkActive="active"
           class="nav-link">Http/Setter/Getter</a>
      </li>
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/ut-routing/simple"
           routerLinkActive="active"
           class="nav-link">Routing</a>
      </li>
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/ut-routing/lazy"
           routerLinkActive="active"
           class="nav-link">Routing lazy loading</a>
      </li>
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/ut-component/karma"
           routerLinkActive="active"
           class="nav-link">Karma</a>
      </li>
      <li class="nav-item">
        <a href=""
           routerLink="/dashboard/ut-component/sonar"
           routerLinkActive="active"
           class="nav-link">Sonarqube</a>
      </li>
    </ul>
  </div>
</nav>
