<ul>
  <li>
    Las <b><i>pruebas unitarias</i></b> son parte de una filosofía de ingeniería que defiende los procesos de <b><i>desarrollo
    eficientes</i></b> y
    <b><i>ágiles</i></b>.
  </li>
  <li>
    Se añade <b><i>una capa de pruebas automatizadas al código de la aplicación antes de que se desarrolle</i></b>. El
    concepto central es que
    <b><i>un fragmento de código va acompañado de su prueba</i></b>, y ambos son creados por el desarrollador que
    trabaja en ese
    código.
  </li>
  <li>
    Crear pruebas mientras desarrollamos nuestro código <b><i>a veces puede parecer una carga?</i></b>
  </li>
  <li>
    Nuestro código debe cumplir con los requisitos de prueba y <b><i>no al revés.</i></b>
  </li>
  <li>
    Las pruebas unitarias son una forma excelente de asegurarnos de <b><i>detectar errores en una etapa temprana</i></b>,
    ya sea al
    <b>introducir nuevas funciones</b> o al <b>actualizar las existentes</b>.
  </li>
  <li>
    La creación de pruebas es una forma excelente de <b>documentar nuestro código</b>
  </li>
</ul>
