<div class="accordion m-5" id="accordionExample">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left"
                (click)="step(concepts.theory.id)"
                type="button">
          Teoría
        </button>
      </h2>
    </div>
    <div id="collapseOne"
         [class]="idSelected === concepts.theory.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        <ul>
          <li>
            Crear un componente host ó dummy, ó etc, para relaizar la prueba unitaria.
          </li>
          <li>
            Es necesario un elemento para colocar la directiva y que pruebe implícitamente la directiva utilizando el
            elemento
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed"
                (click)="step(concepts.practice.id)"
                type="button">
          Práctica
        </button>
      </h2>
    </div>
    <div id="collapseTwo"
         [class]="idSelected === concepts.practice.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="class-body m-5">
        <h3 appCopyright></h3>
      </div>
    </div>
  </div>
</div>

