<div class="accordion m-5" id="accordionExample">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left"
                (click)="step(concepts.remember.id)"
                type="button">
          Recordemos
        </button>
      </h2>
    </div>
    <div id="collapseOne"
         [class]="idSelected === concepts.remember.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        <app-remember></app-remember>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed"
                (click)="step(concepts.begin.id)"
                type="button">
          Comencemos
        </button>
      </h2>
    </div>
    <div id="collapseTwo"
         [class]="idSelected === concepts.begin.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        <app-begin></app-begin>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed"
                (click)="step(concepts.anatomy.id)"
                type="button">
          Anatomía
        </button>
      </h2>
    </div>
    <div id="collapseThree"
         [class]="idSelected === concepts.anatomy.id && isActive ? 'collapsed show' : 'collapse'">
      <div class="card-body">
        <app-anatomy></app-anatomy>
      </div>
    </div>
  </div>
</div>
